# This workflow runs the tests for the clusterurl package
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
      with:
        go-version: '1.21'

    - name: Run tests
      run: go test -v ./...

    - name: Run fuzz tests
      run: go test -fuzz=FuzzClusterURL -fuzztime=30s ./pkg/clusterurl
